.profilefield_phone .d-flex.flex-wrap.align-items-center {
  -webkit-align-items: flex-end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}
.profilefield_phone .fitem:has([data-fieldtype=\"autocomplete\"]) {
  width: 140px;
}